{% extends 'base.html' %}

{% block content %}
    <title>Notice RGPD </title>
    <h1>Notice RGPD pour les Utilisateurs du Site de Médecine Participative {{site_name}} </h1>

    <p><strong>Date d'entrée en vigueur :</strong> 25/10/23 </p>

    <p>Bienvenue sur {{site_name}} !</p>

    <p>Nous vous remercions de votre confiance dans notre plateforme de médecine participative. Chez {{site_name}}, nous attachons une grande importance à la confidentialité et à la sécurité de vos données personnelles. La présente notice a pour objectif de vous informer sur la manière dont nous collectons, utilisons et protégeons vos données. Veuillez lire attentivement les informations suivantes :</p>

    <h2>1. Collecte de données personnelles</h2>
    <ul>
        <li>Lors de votre inscription sur {{site_name}}, nous collectons des informations personnelles telles que votre nom, votre adresse électronique, et d'autres informations de contact.</li>
        <li>En utilisant notre site, vous pouvez également être amené à saisir des données médicales, alimentaires ou d'ordre général, à une fréquence régulière déterminée par le médecin responsable de votre suivi.</li>
    </ul>

    <h2>2. Utilisation des données</h2>
    <p>Nous collectons vos données personnelles pour les finalités suivantes :</p>
    <ul>
        <li>Vous fournir un accès personnalisé à notre plateforme.</li>
        <li>Vous permettre de saisir des données médicales et de les partager avec les médecins responsables de votre suivi.</li>
        <li>Permettre aux médecins responsables de mener des études indépendantes basées sur les données agrégées et anonymisées des utilisateurs.</li>
    </ul>

    <h2>3. Partage des données</h2>
    <p>Nous ne partageons pas vos données personnelles avec des tiers sans votre consentement explicite. Les données partagées avec les médecins responsables sont strictement anonymisées et agrégées pour garantir votre confidentialité.</p>

    <h2>4. Sécurité des données</h2>
    <p>Nous mettons en place des mesures de sécurité techniques et organisationnelles pour protéger vos données personnelles contre tout accès non autorisé, altération, divulgation ou destruction.</p>

    <h2>5. Vos droits</h2>
    <p>Conformément au RGPD, vous avez certains droits sur vos données personnelles, notamment :</p>
    <ul>
        <li>Le droit d'accès à vos données personnelles.</li>
        <li>Le droit de rectification de vos données si elles sont incorrectes ou incomplètes.</li>
        <li>Le droit à l'effacement de vos données personnelles sous certaines conditions.</li>
        <li>Le droit de vous opposer au traitement de vos données.</li>
        <li>Le droit à la portabilité de vos données.</li>
        <li>Le droit de retirer votre consentement à tout moment.</li>
    </ul>

    <h2>6. Contact</h2>
    <p>Si vous avez des questions, des préoccupations ou si vous souhaitez exercer vos droits liés à la protection des données, veuillez nous contacter via le formulaire de contact.</p>

    <h2>7. Modifications de la politique de confidentialité</h2>
    <p>Nous nous réservons le droit de mettre à jour cette notice RGPD pour refléter les changements dans nos pratiques de collecte et de gestion des données. Nous vous encourageons à consulter cette page régulièrement pour rester informé.</p>

    <p>Votre utilisation continue de {{site_name}} après la publication de modifications de cette politique sera considérée comme une acceptation de ces modifications.</p>

    <p>Nous vous remercions de votre confiance et de votre collaboration pour garantir la protection de vos données personnelles.</p>

    <p>{{site_name}}</p>

    <p>Dernière révision: 25/10/23</p>


{% endblock %}