<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inscription</title>
  {% load static %}
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
</head>
<body>
  {% load static %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/BeePatient_w_trans.png' %}" alt="logo" height="80">
      </a>
    </div>
  </nav>
  <h1> Inscription</h1>
  <p> voici une idée de mdp :</p>
    {{ ideeMDP }}
  <form method="post">
    {% csrf_token %}
    <input type="text" name="username" required>
    <input type="password" name="motDePasse" required>
    <input type="submit">
  </form>  
  <p> Revenir à la page de connexion</p>
  <p><a href="{% url 'connexion' %}"> Connexion</a></p>
</body>
</html>